<!-- BEGIN catrow -->
       <!-- BEGIN tablehead -->
          <div class="forum">
          <h2>{catrow.tablehead.L_FORUM}</h2>
       <!-- END tablehead -->

       <!-- BEGIN forumrow -->
          <a href="{catrow.forumrow.U_VIEWFORUM}"  class="{catrow.forumrow.FOLDER_CLASSNAME} forum-section">
 
                      <div class="forum-icon"><i class="material-icons"></i>
                      <!-- <!-- BEGIN avatar -->
                        <div class="forum-avatar">{catrow.forumrow.avatar.LAST_POST_AVATAR}</div>
                        <!-- END avatar --> -->
                      </div>
             <div class="forum-content">
                <h3>{catrow.forumrow.FORUM_NAME}</h3> 
             </div>
          </a>
       <!-- END forumrow -->

       <!-- BEGIN tablefoot -->
       </div>
       <!-- END tablefoot -->
    <!-- END catrow -->
