<style>#main {width: calc(100% - 180px);}</style>
{JAVASCRIPT}
    <!-- BEGIN switch_user_logged_in -->
 <div class='mod-wrapper'>
    <div class='wrapper'>
	<img src='http://i97.servimg.com/u/f97/19/14/82/76/mod110.png' />
	<div class='description'>
		<p class='description_content'><a title="كن شريك في الموقع" href="/">انضم للمشرفين</a></p>
	</div>
     </div>
</div> 
    <!-- END switch_user_logged_in -->
                <!-- BEGIN switch_user_logged_out -->
<div><table class="box1" border="0" style="background:#2E2E2E url(http://i21.servimg.com/u/f21/13/76/93/58/market14.png) center left no-repeat ;" width="100%">
	<tr>
		<td>

<p align="right"><div style="color: rgba(8, 4, 4, 0.11); font-size: 17px; font-family: tahoma;">
<img class="online-store" src="http://illiweb.com/fa/empty.gif" align="right" hspace="12">مميزات 
البيع و الشراء وعرض الخدمات في كوت ستور<span lang="ar-kw"> </span> </div></p>
<table border="0" width="80%">
	<tr width="100%">
		<td width="50%" valign="top">
		<ul style=" color: #FF0000;">
			<li>
			<div align="right"><font class="example3" color="#FFFFFF" size="2">سهولة الاستخدام و النشر 
				داخل المنتدى .&nbsp;
			</font>
			<li >
			<div align="right"><font class="example3" color="#FFFFFF" size="2">نشر الاعلانات في محركات 
				البحث لزيادة قاعدة الزبائن و مشاهدات الاعلان .&nbsp; </li>
				</font>
			<li>
			<div align="right"><font class="example3" color="#FFFFFF" size="2">مجالات بيع متعددة و منظمة 
				من خلال واجهة احترافية . </font>
			<li>
			<div align="right"><font class="example3" color="#FFFFFF" size="2">البيع و الشراء بدون وسيط و 
				العمولة <span lang="en-us">0%</span></font></div>
<li >
			<div align="right"><font class="example3" color="#FFFFFF" size="2">مجاني بالكامل و سيظل ..</font></li>
			</td>
		<td valign="top" width="50%" >		<ul style=" color: #FF0000;">
			<li>
			<div align="right"><font class="example3" color="#FFFFFF" size="2">ادارة تتقوم بمتابعة كل 
				طلبات البيع و الشراء و عرض المنتجات على مدار <span lang="en-us">
				24 </span>ساعة</font><li >
			<div align="right"><font class="example3" color="#FFFFFF" size="2"> حجم التجارة الالكترونية حول العالم 3.8 تريليون دولار في عام 2003 
				حسب احصائيات و دراسات أمريكية</li>
				</font>
			<li>
			<div align="right"><font class="example3" color="#FFFFFF" size="2">حجم هائل من الزوار يوميا 
				على شبكة كوت ستور .</font></li>
                          			<li>
			<div align="right"><font class="example3" color="#FFFFFF" size="2">اعلانك في كوت ستور يستجيب لأدق متطلبات الفهرسة في محركات البحث</font></li>
</td>
	</tr>
</table>
</td>
	</tr>
</table></div>
        <!-- END switch_user_logged_out -->
                          
<!-- BEGIN switch_user_login_form_header -->
<div class="content-block">
  <div class="title">{L_LOGIN}</div>
  <div class="txt-content">
		<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
			<div class="user_login_form center">
				<label>{L_USERNAME} : <input class="post" type="text" size="10" name="username" /></label>&nbsp;
				<label>{L_PASSWORD} : <input class="post" type="password" size="10" name="password" /></label>&nbsp;
				<label>{L_AUTO_LOGIN} : <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label>&nbsp;
				{S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />
				<!-- BEGIN switch_fb_connect -->
				<span class="fb_or">{switch_user_login_form_header.switch_fb_connect.L_OR}</span>
				<fb:login-button size="large" onlogin="window.location='/facebook_connect.forum'" scope="{switch_user_login_form_footer.switch_fb_connect.L_FB_PERMISSIONS}">{switch_user_login_form_footer.switch_fb_connect.L_FB_LOGIN_BUTTON}</fb:login-button>
				<!-- END switch_fb_connect -->
			</div>
		</form>
  </div>
</div>
<!-- END switch_user_login_form_header -->
 
 
{BOARD_INDEX}
 

{CHATBOX_BOTTOM}
 
 

{AUTO_DST}

<!-- BEGIN switch_fb_index_login -->
<div id="fb-root"></div>
<script>
    FB.init({
      appId      : {switch_fb_index_login.FACEBOOK_APP_ID},
      cookie     : true,
      xfbml      : true,
      oauth      : true,
      version    : 'v2.3'
    });

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- END switch_fb_index_login -->
