 <!-- BEGIN html_validation -->
<div>
	<div>
		<div>
			<div>
				<div>
					<div>
						<div>
							<div>
<!-- END html_validation -->
							</div>
						</div>
					</div>
				</div>
				<div id="{ID_RIGHT}"  >
          <div class="module_inner">
 
					  <!-- BEGIN giefmod_index2 -->
					  {giefmod_index2.MODVAR}
					  <!-- END giefmod_index2 -->
          </div>
				</div>
        <div class="clear"></div>
			</div>
		</div>
	</div>
</div>
</div>
        <div class="clear"></div>
<div id="page-footer" >
<div  >
<!-- BEGIN html_validation -->
</div>
</div>
<!-- END html_validation -->

  <div align="center">
  <font color="#FF0000">الإدارة غير مسئولة عن أي اتفاق تجاري أو تعاوني بين الأعضاء
    </font>
    </div> 
  <div align="center">
<font color="#FF0000">فعلى كل شخص تحمل المسئولية تجاه مايقوم به من بيع أو شراء أو اتفاق أو اعطاء معلومات
  </font>
  </div> 
<br/> 
<div id="footer">
			<div class="inside">
				<div id="links" class="links left">
					<h3><a href="/">شبكة كوت ستور</a></h3>
					<ul>
						<li><a target="_blank" href="http://www.koutstore.com/h2-about">حول كوت ستور</a></li>
						<li><a target="_blank" href="http://www.koutstore.com/h4-koutstore">هدف الموقع</a></li>
						<li><a target="_blank" href="/faq">الأسئلة الشائعة</a></li>
					</ul>

					<div id="support">
						<h3>احصل على مساعدة</h3>
						<ul>
							<li><a target="_blank" href="contact">اتصل بنا</a></li>
						</ul>
					</div>
				</div>
				<div id="blog" class="links footer-left">
					<h3><a target="_blank" href="http://blog.koutstore.com" target="_blank">مدونة كوت ستور</a></h3>
					<ul id="post_list">
						<li><a target="_blank" href="http://blog.koutstore.com/search/%D8%A7%D8%AE%D8%B1%20%D8%A7%D9%84%D8%A7%D8%AE%D8%A8%D8%A7%D8%B1" title="اخر أخبار شبكة كوت ستور" target="_blank">اخر أخبار الشبكة</a></li>
						<li><a target="_blank" href="http://blog.koutstore.com/2015/09/blog-post_4.html" title="مفهوم التسوق في العصر الحديث عبر الانترنت مع كوت ستور " target="_blank">مفهوم التسوق في العصر الحديث !</a></li>
						<li><a target="_blank" href="http://blog.koutstore.com/search/label/%D8%B4%D8%B1%D9%88%D8%AD%D8%A7%D8%AA" title="شروحات استخدام الموقع (كاضافة اعلان ..الخ)" target="_blank">شروحات استخدام الموقع </a></li>
					</ul>
				<div class="c3" id="payments">
                 <span class="footerlogo"></span>
					</div>

				</div>
				<div id="community" class="links footer-left">
					<h3>روابط</h3>
					<ul>
						<li><a target="_blank" href="http://www.koutstore.com/t15820-topic">قوانين الاعلان في الموقع</a></li>
						<li><a target="_blank" href="http://www.koutstore.com/h8-upload">مركز رفع الصور</a></li>
					</ul>

					<div id="socialmedia" >
						<h3>تابع كوت ستور</h3>
						<a target="_blank" rel="nofollow" href="https://facebook.com/koutstore"><span class="facebook-bt"></span></a>
						<a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UCCPv6pAeqIM_zfgZuYPLlfg"><span class="youtube-bt"></span></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/koutstore"><span class="twitter-bt"></span></a>
						<a target="_blank"  href="https://www.google.com/+Koutstore"><span class="google-bt"></span></a>

					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div id="copyright">
			<div class="inside">
				<span class="ltrtext c2">Powered by koutstore .Copyright ©2009 - 2016 , All rights reserved.</span>
               <span class="rtltext c1"><a target="_blank" href="http://www.koutstore.com/h41-page"> إتفاقية الإستخدام </a>
					<a target="_blank" href="http://www.koutstore.com/sitemap.xml"> خريطة الموقع </a>
			  		<a target="_blank" rel="nofollow" href="?mode=delete_cookies"> حذف الكوكيز </a>
                                        <a target="_blank" href="rss"> rss </a>
				</span>
				<div class="clear"></div>
			</div>
		</div>
